@font-face {
    font-family: robtronika;
    src: url('fonts/Robtronika-Regular.ttf');
  }

@font-face {
    font-family: cactee;
    src: url('fonts/Cactee-Regular.ttf');
  }

body{
    margin:0px;
    padding:0px;
}

#pagetop{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height:80px;
    width: 100%;
    padding-left:25px;
    padding-right: 25px;
    background-color: rgb(20, 20, 20);
}

#pagetop > span {
    font-family: cactee;
    color:rgb(200,0,0);
    font-size: 70px;
    font-weight: bolder;
}

ol {
    list-style: none;
    counter-reset: ordered-list;
}

ol li {
    counter-increment: ordered-list;
}

ol li::before {
    content: counter(ordered-list) ". ";
    color: red;
    font-weight: bolder;
}

#pagetop > ol {
    margin-right: 75px;
    display: flex;
    width: 25%;
    color: white;
    font-size: large;
    justify-content: space-between;
}

#pagetop > ol > li:hover{
    font-weight: bolder;
    color: rgb(200,0,0);;
}


.menu_item{
    display:inline;
}
#intro{
    height: 900px;
    background-image: url('imagens/ironman3.jpg');
    background-size: 100%;
    color: red;
}

#sayings {
    justify-content:center;
    height: 900px;
    width: 40%;
    display:flex;
    flex-direction: column;
    align-items: end;
}

#sayings > h1{
    text-align: right;
    width: 400px;
    font-family: robtronika;
    font-size: xx-large;
    font-weight: bolder;
}

#sayings > p{
    text-align: right;
    width: 400px;
    font-family: robtronika;
    font-size: small;
    font-weight: bold;
}

#sayings > p > span{
    background:linear-gradient(to right,rgb(30, 50, 230) , rgb(0, 140, 20) , rgb(254,223,0) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    width: 400px;
    font-family: robtronika;
    font-size: small;
    font-weight: bold;
}

#sayings > nav > a {
    align-self: center;
    justify-self: center;
    margin: 0px 10px;
}

.social_networks:hover{
    color:white;
    -webkit-transform:scale(1.4); 
    -moz-transform:scale(1.4); 
    -o-transform:scale(1.4);
    transform:scale(1.4);
}

#intro > sidebar {
    background-color: rgba(20, 20, 20,.25) ;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 80px;
    padding-left: 20px;
    margin-bottom:40px;
    position: fixed;
    height:100%;
    width: 4%;
    z-index:+2;
}
.social_networks{
    /*position: fixed;*/
    color:red;
    padding: 10px;
}

.whoami_card{
    display:flex;
    flex-direction: row;
    color: white;
    background-color: rgb(40, 40, 40);
    height:80%;
    width: 100%;
}

.whoami_card > p, .whoami_card>div{
    background-color: black;
    width:  calc(100% / 3);
    margin:0px;
    padding: 0px;
    position: relative;
}

.whoami_card > p {
    font-size: large;
    font-weight: bold;
    text-align: center;
    align-self:center;
}
.whoami_card>div>img{
    width:100%;
    height: 100%;
    margin:0px;
    padding: 0px;
    position: relative;
}
.color-overlay-left{
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 80%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left:0px;
}

.color-overlay-right{
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1) 80%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left:0px;
}